@import "../../variables.scss";

.Hero__wrapper {
  min-height: 50vh;
  background-color: $secondary-color;
  color: $primary-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Footer__wrapper {
  background-color: $primary-color;
  color: $secondary-color;
}

.Footer__button {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  outline: 0;
}

.Footer__icon {
  width: 100px;
  fill: $secondary-color;

  &:hover,
  &:focus,
  &:active {
    fill: $secondary-color-dark;
  }
}
