@import "../../variables.scss";

.Hero__wrapper {
  min-height: 50vh;
  background-color: $secondary-color;
  color: $primary-color;
  display: flex;
  flex-direction: column;
  justify-content: center;

  & h1 {
    font-size: 4rem;
  }
  & h2 {
    // margin-top: 0px;
    font-weight: 500;
  }
}

.Footer__wrapper {
  background-color: $primary-color;
  color: $secondary-color;
  padding: 8px;
  font-size: 0.7rem;
}

.Footer__hyperlink {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  outline: 0;
}

.Footer__icon {
  width: 100px;
  fill: $secondary-color;

  &:hover,
  &:focus,
  &:active {
    fill: $secondary-color-dark;
  }
}
