@import "../../../variables.scss";

div.react-select-container {
  height: 42px;
  width: 130px;
  //   padding: 5px 10px;
  outline: 0;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  box-sizing: content-box;
  // border: 1px solid $primary-color-dark;
  // border-left: 0px;
  border: 0px;

  &:hover,
  &:focus {
    background-color: $primary-color-light;
  }

  &:active {
    background-color: $primary-color;
  }
}

div.react-select__control {
  height: 42px;
  width: 130px;
  outline: 0;
  border-radius: 0px;
  border-width: 0px;
  border: 1px solid $primary-color-dark;
  border-left: 0px;
  box-shadow: none;

  &:hover {
    background-color: $primary-color-light;
    border-color: $primary-color-dark;
  }
}

div.react-select__menu {
  width: 130px;
  border-radius: 0px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-width: 0px;
  border: 0px;
  margin-top: 0px;
}

div.react-select__menu-list {
  padding: 0px;
  width: 130px;
  border-radius: 4px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

div.react-select__option {
  // height: 42px;
  padding: 10px 10px;
  background-color: #fff;
  color: #000;

  &:hover {
    background-color: $primary-color;
  }
}

.react-select__option--is-focused,
.react-select__option--is-selected {
  background-color: $primary-color;
}
