@import "../../variables.scss";

.SearchInput__Wrapper {
}

.SearchInput__Input {
}

.SearchInput__Button {
}

.SearchBar__Wrapper {
  background-color: $secondary-color;
  height: $searchbar-height;
  display: flex;
  align-items: center;
  justify-content: center;
}
