@import "../../../variables.scss";

.Resuls__Wrapper {
  flex-grow: 1;
  background: linear-gradient(to bottom, #222 25vh, #ddd 25vh);
}

.Results__Body {
  max-width: 768px;
  margin: 64px auto 16px auto;
  overflow: hidden;
  transition: opacity 0.2s ease;

  &.Results__BodyOpen {
    height: auto;
    opacity: 1;
  }
  &.Results__BodyClosed {
    height: 0;
    opacity: 0;
  }
}

.CityDataCard__Wrapper {
  background-color: #fff;
  margin: 8px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25);

  &[open] summary ~ * {
    animation: fade-in $animation-duration $animation-easing;

    @keyframes fade-in {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }

  &[open] svg {
    transform: rotate(-180deg);
  }

  @include phone {
    margin: 4px;
  }
}

.CityDataCard__Summary {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px 8px;
  outline: 0px;
  cursor: pointer;

  svg {
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    transition: transform $animation-duration $animation-easing;
  }

  &::-webkit-details-marker {
    display: none;
  }
}

.CityDataCard__Header {
  flex-grow: 1;
  padding: 0px 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow: auto;

  & .CityDataCard__TimeStamp {
    font-size: 0.8rem;
  }

  & .CityDataCard__Cityname {
    font-size: 2rem;
    text-align: left;
    padding: 0px 8px 0px 0px;

    @include phone {
      font-size: 1.5rem;
    }
  }

  & .CityDataCard__Value {
    font-weight: 600;
    font-size: 1.3rem;
  }
}
