/*colors*/
$primary-color: #ddd;
$primary-color-dark: #bbb;
$primary-color-light: #eee;
$secondary-color: #222;
$secondary-color-dark: #111;
$secondary-color-light: #444;

/*sizings*/
$searchbar-height: 48px;

/*animations*/
$animation-duration: 0.2s;
$animation-easing: ease;
